<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <section class="hero is-fullheight is-transparent">
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
            <p class="title is-info">
                Home WebHook
            </p>
            <p class="subtitle">
                Made with 
                <i class="fa fa-heart"></i>
                by Yasha
            </p>
            </div>
        </div>
    </section>
</body>

</html>